<div class="contenedor">
<div class="escoger">
  <div class="row">
    <div class="col-md-6">
      <div class="filtro form-group">
        <input ng-model="etiq" type="text" class="form-group busqueda-tag" placeholder="Buscar tag">
      </div>
    </div>
    <div class="col-md-3">
      <div class="dificultad">
        <div class="btn-group">
          <label class="btn btn-default" ng-model="$ctrl.dificultad_escogida" uib-btn-radio="'facil'" uncheckable>facil</label>
          <label class="btn btn-default" ng-model="$ctrl.dificultad_escogida" uib-btn-radio="'intermedio'" uncheckable>intermedio</label>
          <label class="btn btn-default" ng-model="$ctrl.dificultad_escogida" uib-btn-radio="'dificil'" uib-uncheckable="uncheckable">dificil</label>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="boton-ver">
        <button ng-click="$ctrl.escogerEjercicios()" type="button" name="button" class="btn btn-primary">ver opciones</button>
      </div>
    </div>
  </div>
  <div class="etiquetas">
    <div class="row">
      <div  class="col-md-2 etiquetas">
            <a   ng-click="$ctrl.etiqueta_escogida(etiqueta,$index)" ng-class="{sel: $index == $ctrl.selected}" ng-repeat="etiqueta in $ctrl.etiquetas  | filter: etiq"  class="etiqueta-nombre">{{etiqueta}}</a>
      </div>
    </div>
  </div>

</div>

<div  ng-show="!$ctrl.mostrar_escogido" class="ejercicio row">
  <div class="titulo">
      <span>Titulo: </span><span>{{$ctrl.ejercicio_slide.titulo}}</span>
    </div>
    <div class="descripcion">
      <span>Descripcion: </span><span>{{$ctrl.ejercicio_slide.descripcion}}</span>
    </div>
    <div class="etiquetas">
      <span>Etiquetas: </span><span ng-repeat="eti in $ctrl.ejercicio_slide.etiquetas">{{eti}}</span>
    </div>
    <div class="entradas">
      <span>Entradas: </span><span ng-repeat="entrada in $ctrl.ejercicio_slide.entradas">{{entrada}}</span>
    </div>
    <div class="salidas">
      <span>Salidas: </span><span ng-repeat="entrada in $ctrl.ejercicio_slide.salidas">{{entrada}}</span>
    </div>
    <button ng-show="$ctrl.mostrar" ng-click="$ctrl.ejercicio_escoger_boton($ctrl.ejercicio_slide)"type="button" name="button" class="btn btn-primary text-center">resolver</button>
    <button ng-click="$ctrl.ejercicio_siguiente()" type="button" name="button" class="btn btn-success"><i class="fa fa-arrow-right"></i></button>
</div>

<div ng-show="$ctrl.mostrar_escogido" class="escogido">
  <ejercicio-escogido></ejercicio-escogido>
</div>
