a.cursor {
  cursor: pointer;
  cursor: hand;
}

.contenedor-perfil{
  /*border: 1px solid blue;*/
  padding: 2%;
  background-color: #f5f5f5;
  margin-top: 5%;
  margin-bottom: 5%;
}
.row-perfil{
    margin-top: 3%;
    padding: 3% 0;
}

.img-perfil{
    margin: 0 auto;
}

.col-perfil, .col-numero-ejercicios, .col-puntaje, .col-insignias, .col-badges{
    text-align: center;
    margin-top: 
}

.col-perfil p{
    margin-top: 5%;
}

#rowEjercicios{
    /*margin-top: 5%;*/
    /*background-color: white;*/
    /*padding: 5% 0;*/
}

.useravatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.tag{
    font-weight: bold;
}


.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}


.estudiante{
    margin: 0 50px;
}

.row-perfil, .row-texto, .row-ejercicios{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}

.row-perfil > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

#rowTexto{
  margin-bottom: 2%;
  margin-top: 2%;
  padding: 2%;
}

#rowTexto:hover {
  background-color: white
}

.row-ejercicios{
  margin-bottom: 1%;
}

#h3texto{
  font-weight: bold;

}