<div class="container">
  <h1>Estudiantes</h1>
  <div class="table">
  <div class="tabla">
    <table st-table="$ctrl.estudiantes_backup" st-safe-src="$ctrl.estudiantes" st-watch-changes="true" class="table table-hover table-condensed table-striped">
      <thead>
        <tr>
          <th class="cursor" st-sort="identificacion">
            <span>Matricula</span>
          </th>
          <th class="cursor" st-sort="nombres">
            <span>Nombres</span>
          </th>
          <th class="cursor" st-sort="apellidos">
            <span>Apellidos</span>
          </th>
          <th class="cursor" st-sort="correo">
            <span>Correo</span>
          </th>
          <th class="cursor" st-sort="carrera">
            <span>Carrera</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th><input st-search="identificacion" type="text" placeholder="&#xf0b0;" class="form-control" style="font-family:Arial, FontAwesome"></th>
          <th><input st-search="nombres" type="text" placeholder="&#xf0b0;" class="form-control" style="font-family:Arial, FontAwesome">
          </th>
          <th><input st-search="apellidos" type="text" placeholder="&#xf0b0;" class="form-control" style="font-family:Arial, FontAwesome"></th>
          <th><input st-search="correo" type="text" placeholder="&#xf0b0;" class="form-control" style="font-family:Arial, FontAwesome">
          </th>
          <th><input st-search="carrera" type="text" placeholder="&#xf0b0;" class="form-control" style="font-family:Arial, FontAwesome">
          </th>
          <th>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#estudianteNuevo"><i class="fa fa-plus" aria-hidden="true"></i></button>
          </th>
        </tr>
        <tr ng-repeat="estudiante in $ctrl.estudiantes_backup">
          <td>
            <span editable-text="estudiante.identificacion" e-name="identificacion" e-form="form" onbeforesave="$ctrl.checkIdentificacion($data)">
              {{estudiante.identificacion}}
            </span>
          </td>
          <td>
            <span editable-text="estudiante.nombres" e-name="nombres" e-form="form" onbeforesave="$ctrl.checkNombres($data)">
              {{estudiante.nombres | uppercase}}
            </span>

          </td>
          <td>
            <span editable-text="estudiante.apellidos" e-name="apellidos" e-form="form" onbeforesave="$ctrl.checkApellidos($data)">
              {{estudiante.apellidos | uppercase}}
            </span>

          </td>
          <td>
            <span editable-text="estudiante.correo" e-name="correo" e-form="form" onbeforesave="$ctrl.checkCorreo($data)">
              {{estudiante.correo}}
            </span>

          </td>
          <td>
            <span editable-text="estudiante.correo" e-name="correo" e-form="form" onbeforesave="$ctrl.checkCorreo($data)">
              {{estudiante.carrera}}
            </span>

          </td>
          <td style="white-space: nowrap">
            <form editable-form name="form" onbeforesave="$ctrl.editEstudiante($data, estudiante._id)" ng-show="form.$visible" class="form-buttons form-inline" shown="inserted != user">
              <button type="submit" ng-disabled="form.$waiting" class="btn btn-primary">
                <i class="fa fa-floppy-o"></i>
              </button>
              <button type="button" ng-disabled="form.$waiting" ng-click="form.$cancel()" class="btn btn-default">
                cancelar
              </button>
            </form>
            <div class="buttons" ng-show="!form.$visible">
              <button type="button" class="btn btn-primary" ng-click="form.$show()">
                <i class="fa fa-pencil-square-o"></i>
              </button>
              <button type="button" class="btn btn-danger" ng-click="$ctrl.deleteEstudiante(estudiante._id)" data-toggle="modal" data-target=".bs-example-modal-sm">
                <i class="fa fa-trash-o"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
  				<td colspan="5" class="text-center">
  					<div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
  				</td>
  			</tr>
  		</tfoot>
    </table>
  </div>

  <!-- modal confirmar borrar Estudiante -->
  <div class="modal fade bs-example-modal-sm" tabindex="10" role="dialog" aria-labelledby="mySmallModalLabel" id="deleteModal">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-head">
          <h2>Borrar Estudiante</h2>
        </div>
        <div class="modal-body">
          <button ng-click="$ctrl.deleteConfirmar()" type="button" name="button" data-dismiss="modal" class="btn btn-danger" >si</button>
          <button ng-click="$ctrl.cancelarDelete()" type="button" name="button" data-dismiss="modal" class="btn btn-primary">no</button>
        </div>
      </div>
    </div>
  </div>

  <!-- modal nuevo profesor -->
  <div class="modal fade" id="estudianteNuevo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="exampleModalLabel">Nuevo Estudiante</h4>
        </div>
        <div class="modal-body">
          <form name="newEstudianteForm" novalidate>
            <div class="form-group">
              <label for="indentificacion-estudiante" class="control-label">Matricula:</label>
              <input ng-model="$ctrl.estudiante.identificacion" type="text" class="form-control" id="indentificacion-estudiante" ng-required="true" name="identificacion" validacion-Identificacion-Est>
              <p ng-show="newEstudianteForm.identificacion.$error.letterVal&&newEstudianteForm.identificacion.$touched">No se permiten letras</p>
              <p ng-show="newEstudianteForm.identificacion.$error.specialCharVal&&newEstudianteForm.identificacion.$touched">No se permiten caracteres especiales</p>
              <p ng-show="newEstudianteForm.identificacion.$error.lengthVal&&newEstudianteForm.identificacion.$touched">Número de caracteres inválido</p>
            </div>
            <div class="form-group">
              <label for="nombres-estudiante" class="control-label">Nombres:</label>
              <input ng-model="$ctrl.estudiante.nombres" type="text" class="form-control" id="nombres-estudiante" ng-required="true" name="nombres" validacion-Nombres-Apellidos-Est>
              <p ng-show="newEstudianteForm.nombres.$error.numberVal&&newEstudianteForm.nombres.$touched">No se permiten numeros</p>
              <p ng-show="newEstudianteForm.nombres.$error.specialCharVal&&newEstudianteForm.nombres.$touched">No se permiten caracteres especiales</p>
            </div>
            <div class="form-group">
              <label for="apellidos-estudiante" class="control-label">Apellidos:</label>
              <input ng-model="$ctrl.estudiante.apellidos" type="text" class="form-control" id="apellidos-estudiante" ng-required="true" name="apellidos" validacion-Nombres-Apellidos-Est>
              <p ng-show="newEstudianteForm.apellidos.$error.numberVal&&newEstudianteForm.apellidos.$touched">No se permiten numeros</p>
              <p ng-show="newEstudianteForm.apellidos.$error.specialCharVal&&newEstudianteForm.apellidos.$touched">No se permiten caracteres especiales</p>
            </div>
            <div class="form-group">
              <label for="correo-estudiante" class="control-label">Correo:</label>
              <input ng-model="$ctrl.estudiante.correo" type="text" class="form-control" id="correo-estudiante" ng-required="true" name="correo" validacion-Email-Est>
              <p ng-show="newEstudianteForm.correo.$error.emailVal&&newEstudianteForm.correo.$touched">Correo invalido</p>
            </div>
            <div class="form-group">
              <label for="carrera-estudiante" class="control-label">Carrera:</label>
              <input ng-model="$ctrl.estudiante.carrera" type="text" class="form-control" id="carrera-estudiante" ng-required="true" name="carrera" validacion-Nombres-Apellidos-Est>
              <p ng-show="newEstudianteForm.carrera.$error.numberVal&&newEstudianteForm.carrera.$touched">No se permiten números</p>
              <p ng-show="newEstudianteForm.carrera.$error.specialCharVal&&newEstudianteForm.carrera.$touched">No se permiten caracteres especiales</p>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button ng-click="$ctrl.newEstudiante()" type="button" class="btn btn-primary" data-dismiss="modal" ng-disabled="newEstudianteForm.$invalid">Crear</button>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
