h1 {
  color: rgb(28, 65, 136);
  text-align: center;
}

.sort-header {
    cursor: pointer;
}
.sort-header:after {
    font-family: FontAwesome;
    content: '  \f0dc';
    color: lightgrey;
}
.st-sort-ascent:before {
    content: '';
}
.st-sort-ascent:after {
    font-family: FontAwesome;
    content: '  \f0de';
    color: black;
}
.st-sort-descent:before {
    content: '';
}
.st-sort-descent:after{
    font-family: FontAwesome;
    content: '  \f0dd';
    color: black;
}

.panel-estados {
  margin-left: 5%;
  margin-right: 5%;
}

.table {
  padding: 5%;
}

.navbar {
  position: 0;
}
