<div class="container">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
        </button>
        <a class="navbar-brand" href="#">
          <p>Ayudante   {{vm.correo}}</p>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a ng-click="vm.tabs.clicks.nuevo()" class="cursor">Nuevo Ejercicio</a></li>
          <li class="active"><a ng-click="vm.tabs.clicks.mis()" class="cursor">Mis Ejercicios</a></li>
          <li><a ng-click="vm.tabs.clicks.todos()" class="cursor">Todos los Ejercicios</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <span class="glyphicon glyphicon-log-out"></span>
            <strong  ng-click="vm.logout()">Logout</strong>
          </li>
        </ul>
      </div>
    </div>
    
  </nav>

  <div class="contenerdor">
    <div ng-show="vm.tabs.nuevo" class="nuevo">
      <nuevo-ejercicio></nuevo-ejercicio>
    </div>
    <div ng-show="vm.tabs.mis" class="mis">
      <mis-ejercicios show="true"></mis-ejercicios>
    </div>
    <div ng-show="vm.tabs.todos" class="todos">
      <todos-ejercicios></todos-ejercicios>
    </div>
    <div ng-show="vm.tabs.editar" class="editar">
      <editar-ejercicio></editar-ejercicio>
    </div>
  </div>

  <!-- <mis-ejercicios></mis-ejercicios>
  <todos-ejercicios></todos-ejercicios> -->

</div>
