h1 {
  padding: inherit;
  text-align: center;
}

div.contenedor-nuevo {
  margin-bottom: 5%;
  margin-top: 5%;
  padding: 2%;
  background-color: #f5f5f5;
}

#btnIngresar[disabled]{
	background-color: grey;
}