<nav class="navbar navbar-inverse navbar-fixed-left">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <p>Estudiante</p>
      </a>
    </div>

    <ul style="cursor: pointer;"  class="nav navbar-nav">

      <li ng-click="vm.tabs.clicks.perfil()" ng-class="{'colores': vm.tabs.perfil}">
        <a>
          <i class="fa fa-user-o"></i> <label for="">  Perfil</label>
        </a>
      </li>
      <li ng-click="vm.tabs.clicks.resolver()" ng-class="{'colores': vm.tabs.resolver}">
        <a>
          <i class="fa fa-pencil"></i> <label for="">  Ejercicios</label>
        </a>
      </li>
      <li ng-click="vm.tabs.clicks.clave()" ng-class="{'colores': vm.tabs.clave}">
        <a>
          <i class="fa fa-key"></i> <label for="">  Clave</label>
        </a>
      </li>
      <li>
        <a>
          <i class="fa fa-sign-out"></i><label ng-click="vm.logout()">  Salir</label>
        </a>
      </li>


    </ul>

</nav>

<div class="wrapper ">

  <div class="contenerdor">
    <div ng-show="vm.tabs.perfil" class="container">
      <perfil></perfil>
    </div>
    <div ng-show="vm.tabs.resolver" class="container">
      <ejercicio-escoger></ejercicio-escoger>
    </div>
    <div ng-show="vm.tabs.clave" class="container">
      <cambiar-clave></cambiar-clave>
    </div>
  </div>

</div>
