<h1>Cursos</h1>

<form ng-show="!$ctrl.tabla_acciones.editar" class="">
  <div class="form-group">
    <input ng-model="$ctrl.curso.numero_paralelo" type="text" placeholder="numero paralelo" class="form-control">
  </div>
  <div class="form-group">
    <button ng-click="$ctrl.create()" type="button" name="button" class="form-control">crear</button>
  </div>
</form>

<div ng-show="$ctrl.tabla_acciones.tabla" class="cursos">
  <table class="table">
    <thead>
      <tr>
        <th>Paralelo
        </th>
        <th>Profesor
        </th>
        <th>Numero alumnos</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="curso in $ctrl.cursos">
        <td>{{curso.numero_paralelo}}</td>
        <td>{{curso._profesor.nombres }} {{curso._profesor.apellidos}}</td>
        <td>{{curso._estudiantes.length}}</td>
        <td>
          <button ng-click="$ctrl.del(curso._id)" type="button" name="button">eliminar</button>
          <button ng-click="$ctrl.editar(curso)" type="button" name="button">editar</button>
          <!-- <button ng-click="$ctrl.ver(curso)" type="button" name="button">ver</button> -->
        </td>
    </tbody>
  </table>
</div>

<div ng-show="$ctrl.tabla_acciones.ver" class="editar">
  <button ng-click="$ctrl.tabla()" type="button" name="button">tabla</button>
  <p>{{$ctrl.accionCurso}}</p>
</div>

<div ng-show="$ctrl.tabla_acciones.editar" class="editar">
  <h3>CURSO {{$ctrl.accionCurso.numero_paralelo}}</h3>
  <h4>Profesor</h4>
  <input type="text" ng-model="$ctrl.profesor_escogido" placeholder="Buscar profesor" uib-typeahead="profes as profes.nombres for profes in $ctrl.buscarProfesor($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
  <div ng-show="noResults">
    <i class="glyphicon glyphicon-remove"></i> No se encontro profesores
  </div>
  <h4>Alummnos</h4>
  <table class="table">
    <thead>
      <tr>
        <th>Identificacion</th>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Correo</th>
        <th>Carrera</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="estudiante in $ctrl.accionCurso._estudiantes">
        <td>{{estudiante.identificacion}}</td>
        <td>{{estudiante.nombres}}</td>
        <td>{{estudiante.apellidos}}</td>
        <td>{{estudiante.correo}}</td>
        <td>{{estudiante.carrera}}</td>
        <td><button ng-click="$ctrl.deleteEstudiante(estudiante._id)" class="btn btn-danger"type="button" name="button">borrar</button></td>
      </tr>
    </tbody>
  </table>
  <form class="form">
    <div class="form-group">
      <input type="text" ng-model="$ctrl.alumno_escogido" placeholder="anadir alumno" uib-typeahead="alumno as alumno.nombres for alumno in $ctrl.buscarAlumno($viewValue)" typeahead-loading="loadingAlumno" typeahead-no-results="noAlumnos" class="form-control">
        <i ng-show="loadingAlumno" class="glyphicon glyphicon-refresh"></i>
      <div ng-show="noAlumnos">
        <i class="glyphicon glyphicon-remove"></i> No se encontro alumnos
      </div>
      <button ng-click="$ctrl.addAlumno()" class="btn btn-primary" type="button" name="button">add alumno</button>
    </div>
  </form>
  <form class="" action="index.html" method="post">
    <div class="form-group">
      <!-- <div class="button" ></div> -->
        <button ngf-select ng-model="$ctrl.file" name="archivo" ngf-pattern="'*/*'"
        ngf-accept="'*/*'" class="btn btn-primary" type="button" name="button"><i class="fa fa-upload"></i></button>
      <button ng-if="$ctrl.file" class="btn btn-warning" type="button" ng-click="$ctrl.subirAlumnos()">enviar</button>
      <button ng-click="$ctrl.addProfesor(); $ctrl.tabla()" class="btn btn-info" type="button" name="button"><i class="fa fa-floppy-o"></i></button>
      <button ng-click="$ctrl.tabla()" class="btn btn-default" type="button" name="button">cancelar</button>
    </div>
  </form>
</div>
