<style media="screen">
  .archivos {
    width: 50%;
  margin: 0 auto;
  }
</style>
<div class="escogido-mio">
  <div class="ejercicio">
    <div class="titulo">
      <h3 class="titulo">{{$root.ejercicio.titulo}}</h3>
    </div>
    <div class="descripcion">
      <span class="tag">Descripción</span>
      <p class="descripcion">{{$root.ejercicio.descripcion}}</p>
    </div>

    <div class="tabla">
      <table class="table table-responsive table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Entrada</th>
            <th>Salida</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="entrada in  $root.ejercicio.entradas">
            <td>
              {{entrada}}
            </td>
            <td>
              {{ $root.ejercicio.salidas[$index]}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="creador">
      <span class="tag">Creador:</span>
      <p>{{$root.ejercicio.creador.nombres}} {{$root.ejercicio.creador.apellidos}}</p>
    </div>
    <div class="etiquetas">
      <span class="tag">Tags: </span>
      <span>Etiquetas: </span><span ng-repeat="etiqueta in $root.ejercicio.etiquetas">{{etiqueta}} </span>
    </div>
  </div>
  <form name="form">
    <div class="etiquetas">
      <span class="tag">Subir el archivo</span>
      <div class="button" ngf-select ng-model="$ctrl.file" name="archivo" ngf-pattern="'*/*'"
        ngf-accept="'*/*'"><button type="button" name="button" class="btn btn-primary">subir archivo</button>
      </div>
      <br>
      <div ng-show="$ctrl.file != ''"class="enviar">
        <button type="submit" ng-click="$ctrl.subirEjercicio()" class="btn btn-success">enviar archivo</button>
      </div>
    </div>
  </form>
  <p style="color: red;">{{$ctrl.errores}}</p>
</div>
