<div class="container">
	<div class="card card-container">
		
		<form class="form" name="loginForm" novalidate="true">
			<h1 class="titulo" id="titulo">Ayudante</h1>
			<img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
		  <div class="form-group">
		    <input ng-model="vm.ayudante.correo" class="form-control" type="text" placeholder="correo" ng-required="true" validacion-Email-Ayudante>
		  </div>
		  <div class="form-group">
		    <input ng-model="vm.ayudante.clave" class="form-control" type="password" placeholder="clave" ng-required="true">
		  </div>
		  <div class="form-group">
		    <button ng-click="vm.login()" type="button" class="form-control btn btn-primary btn-signin" ng-disabled="loginForm.$invalid">login</button>
		  </div>
		</form>
	</div>
</div>

