<nav class="navbar navbar-inverse navbar-fixed-left">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <p>Profesor</p>
      </a>
    </div>

    <ul style="cursor: pointer;" class="nav navbar-nav">

      <li  ng-class="{'selecionado': vm.tabs.nuevo}" >
        <a ng-click="vm.tabs.clicks.nuevo()" class="cursor">Nuevo Ejercicio</a>
      </li>
      <li  ng-class="{'selecionado': vm.tabs.mis}">
        <a ng-click="vm.tabs.clicks.mis()" class="cursor">Mis Ejercicios</a>
      </li>
      <li  ng-class="{'selecionado': vm.tabs.todos}">
        <a ng-click="vm.tabs.clicks.todos()" class="cursor">Todos los Ejercicios</a>
      </li>
      <li  ng-class="{'selecionado': vm.tabs.clave}">
        <a ng-click="vm.tabs.clicks.clave()" class="cursor">Cambiar Clave</a>
      </li>
      <li  ng-class="{'selecionado': vm.tabs.desafio}">
        <a ng-click="vm.tabs.clicks.desafio()" class="cursor">Desafio</a>
      </li>
      <li>
        <a>
          <i class="fa fa-sign-out"></i><label ng-click="vm.logout()">  Salir</label>
        </a>
      </li>
    </ul>

</nav>

<div class="wrapper">

  <div class="contenerdor">
    <div ng-show="vm.tabs.nuevo" class="nuevo container">
      <nuevo-ejercicio></nuevo-ejercicio>
    </div>
    <div ng-show="vm.tabs.mis" class="mis container">
      <mis-ejercicios show="true"></mis-ejercicios>
    </div>
    <div ng-show="vm.tabs.todos" class="todos container">
      <todos-ejercicios></todos-ejercicios>
    </div>
    <div ng-show="vm.tabs.editar" class="editar container">
      <editar-ejercicio></editar-ejercicio>
    </div>
    <div ng-show="vm.tabs.clave">
      <cambio-clave></cambio-clave>
    </div>
    <div ng-show="vm.tabs.desafio">
      <desafio></desafio>
    </div>
  </div>

  <!-- <mis-ejercicios></mis-ejercicios>
  <todos-ejercicios></todos-ejercicios> -->

</div>
