<div class="contenedor-perfil">
  
  <div class="row-perfil">
    <div class="col-xs-4 col-xs-offset-4 useravatar col-perfil">
      <img src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="img-responsive img-perfil">
      <p>{{$ctrl.estudiante.nombres + " " + $ctrl.estudiante.apellidos}}</p>
      <p>{{$ctrl.estudiante.correo}}</p>
    </div>
  </div>
  
  <div class="row-perfil" id="rowEjercicios">
    <div class="col-xs-6 col-numero-ejercicios">
      <p>{{$ctrl.estudiante._ejercicios.length}}</p>
      <p class="tag">Ejercicios resueltos</p>
    </div>
    <div class="col-xs-6 col-puntaje">
      <p>{{$ctrl.estudiante.puntaje}}</p>
      <p class="tag">Puntaje</p>
    </div>
  </div>

  <div class="row-perfil" id="rowInsignias">
    <div></div>
  </div>
</div>

