<h1>Nuevo Ejercicio</h1>

<form class="" action="index.html" method="post">
  <input ng-model="$ctrl.ejercicio.titulo" type="text" name="" value="" placeholder="titulo">
  <input ng-model="$ctrl.ejercicio.descripcion" type="text" name="" value="" placeholder="descripcion">
  <input ng-model="$ctrl.ejercicio.entradas" type="text" name="" value="" placeholder="datos entrada">
  <input ng-model="$ctrl.ejercicio.salidas" type="text" name="" value="" placeholder="datos salida">
  <input ng-model="$ctrl.ejercicio.etiquetas" type="text" name="" value="" placeholder="etiquetas">
  <input ng-model="$ctrl.ejercicio.dificultad" type="text" name="" value="" placeholder="nivel dificultad">
  <button ng-click="$ctrl.crearEjercicio()" type="button" name="button">ingresar</button>
</form>
<p>{{$ctrl.ejercicio}}</p>
