a.cursor {
  cursor: pointer;
  cursor: hand;
}

#logout{
	margin: auto;
	margin-top: 12px;
	color: white;
}

.navbar-default .navbar-nav > .active > a:focus {
      color: #000;
      background: #d65c14;
 }

 .selecionado {
   background:rgba(128, 129, 143, 0.75);
 }
