<div class="container ">
  <div class="errores">
    <div uib-alert ng-repeat="alert in $ctrl.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="$ctrl.closeAlert($index)">
      {{alert.msg}}
    </div>
  </div>
  <div class="col-xs-12 main">
    <h2 id="titulo">Cambio de clave</h2>
    <form class="" action="index.html" method="post">
      <div class="form-group">
        <label for="claveInicial">Clave inicial</label>
        <input ng-model="$ctrl.claves.clave" type="password" name="claveInicial" id="claveInicial" value="" placeholder="Clave inicial" class="form-control">
      </div>
      <div class="form-group">
        <label for="claveNueva">Clave nueva</label>
        <input ng-model="$ctrl.claves.clave_nueva" type="password" name="claveNueva" id="claveNueva" value="" placeholder="Clave nueva" class="form-control">
      </div>
      <div class="form-group">
        <label for="claveConf">Confirmar clave</label>
        <input ng-model="$ctrl.claves.clave_confirmacion" type="password" name="claveConf" id="claveConf" value="" placeholder="Confirmar clave" class="form-control">
      </div>
      <button ng-click="$ctrl.actualizarClave()" type="button" name="button" class="btn btn-primary">Enviar</button>
    </form>
  </div>
</div>
